<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/css.css">
</head>
<body>
    <h1>This page belongs to @<%= instaData.name  %></h1>
    <button>Follow</button>
    <button>Message</button>
    <h5>Followers: <%= instaData.followers %> &nbsp; &nbsp; &nbsp; &nbsp; Following: <%= instaData.following %></h5>
    <hr>
   <% for(post of instaData.posts){ %>
   <img src="<%= post.image %>" alt="">
    <p>Likes: <%= post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Comments: <%= post.comments %></p>
    <% } %>
</html>